/* .dietaryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 16px;
  justify-items: center;
  margin: 20px 0;
}

.dietaryButton {
  padding: 15px 24px;
  color: black;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: gray;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
} */

/* .dietaryButton:hover {
  border-color: #28a745;

.dietaryButton.active {
  color: black;
  font-weight: bold;
  transform: scale(1.05);
} */
